body { 
    font-size: 18px;
    font-family: "cursive", "sans-serif";
    top: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    z-index: 1;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}
.page-1 {
    display: flex;
}
.main-container {
    background: rgb(128,128,128);
    background: radial-gradient(circle, rgba(128,128,128,1) 0%, rgba(90,96,103,1) 100%);
    position: relative;
}
.nav a:hover {
    background: red;
    border-radius: 50px;
    transition: all 0.3s ease;
    padding: 10px 20px;
    transform: scale(1.05);
    white-space: nowrap;
}
.nav a{ 
    text-decoration: none;
    padding-right: 15px;
    color: white;
    padding: 10px;
}
.nav {
    /* background: gray; */
    display: flex;
    justify-content: center;
}
.picture1 img{
   height: 100%;
   width: 100%;
   border-radius: 50px;
  
} 
.aside-handle {
    background: black;
    /* width: 40%; */
}
.text-container {
    width: 400px;
    margin-top: 150px;
    padding-left: 20px;
}
.text-container h1 {
    color: white;
    font-size: 50px;
}
.text-container p {
    color: white;
}
.text-container a {
    color: white;
}
.download-btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: red;
    transition: all 0.3s ease;
}
.download-btn:hover
{
    transform: scale(1.15);
} 
/* .download-btn li {
    text-decoration: none;
} */
.contact-section {
    display: flex;
    justify-content: center;
}






















/* .contact .section-title
{
    margin-top: -45px;
}
.contact-title
{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-sub-title
{
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}
.contact .contact-info-item
{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}
.contact .contact-info-item .icon
{
    display: inline-block;
}
.contact .contact-info-item .icon
{
    font-size: 25px;
}
.contact .contact-info-item .h4
{
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact .contact-info-item p
{
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
}
.contact .contact-form
{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .col-6
{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form .col-12
{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .form-item
{
    margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control
{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea.form-control
{
    height: 140px;
}
.contact .contact-form .btn
{
    height: 50px;
    padding: 0 50px;
} */